<label>Gruppe</label>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownGroup" ngbDropdownToggle>
    {{ selectedGroup ? selectedGroup.name : 'Gruppe auswählen' }}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownGroup">
    <button class="dropdown-item" *ngFor="let group of groups" (click)="GroupChanged(group)">{{group.name}}</button>
  </div>
</div>

<label>Terminsuche</label>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownDateSearch" ngbDropdownToggle>
    {{ selectedDateSearch ? selectedDateSearch.name : 'Terminsuche auswählen' }}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownDateSearch">
    <button class="dropdown-item" *ngFor="let dateSearch of dateSearches" (click)="DateSearchChanged(dateSearch)">{{dateSearch.name}}</button>
  </div>
</div>
<p>{{selectedDateSearch?.description}}</p>


